[submodule "libs/zydis"]
	path = libs/zydis
	url = https://github.com/zyantific/zydis/
[submodule "libs/zasm"]
	path = libs/zasm
	url = https://github.com/zyantific/zasm
[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "libs/lib_detours/Detours"]
	path = libs/lib_detours/Detours
	url = https://github.com/microsoft/Detours
